h2 {
	color: Gray;
	margin: 50px;
	margin-left: 5%;
	font-size: 30pt;
}

.thumbnails-panel {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	margin-left: 5%;

	.thumbnail {
		margin-bottom: 4em;
	}

	.thumbnail-image {
		height: 300px;
        }
}

.selected-show { 
	border: 5px solid red;
}
