.header {
	flex: 0 0 80px;
 	background-color: #B9090B;
}

h2.cp-header {
	color: grey;
	margin: 50px;
	margin-left: 5%;
	font-size: 30pt;
}

.box {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.row {
	display: flex;
	flex: 1;
}

.nav-menu {
	background-color: #1a1511;
}

.content-panel {
	flex: auto;
	background-color: #38322c;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin-right: 3em;
	margin-top: 8em;
	li {
		color: grey;
		margin-top: 1em;
		padding: 1em 2em;
		background-color: #38322c;
	}
}

li.selected {
	background-color: #787878 !important;
	color: #1a1511 !important;
}
